:root {
    --color-blue: rgb(12, 93, 214);
}

* {
    box-sizing: border-box;
}

.main-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    width: 100vw;
}

input[type='text'],
input[type='number'] {
    font: inherit;
    background-color: #111;
    border: 1px solid white;
    border-radius: 5px;
    padding: .5em;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;
}

input[type='text']:disabled,
input[type='number']:disabled {
    cursor: initial;
    background: black;
}

input:focus {
    outline: none;
}

input[type='checkbox'] {
    margin-right: 6px;
}

.search-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-stocked {
    color: red;
}

table {
    border-collapse: collapse;
    margin-top: 24px;
    margin-left: 4em;
}

td,
th {
    border: 1px solid white;
    padding: .5em;
}

thead th {
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-right: calc(1.5em + 8px);
}

.sort-icon {
    font-size: 1.1em;
    position: absolute;
    top: .5em;
    right: .5em;
}

.row-action {
    color: white;
    border: none;
    cursor: pointer;
}

.row-action:hover {
    color: #ccc;
}

button {
    position: relative;
    width: 100%;
    font: inherit;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: .5em;
    background-color: white;
    color: #111;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #ccc;
}

button svg {
    position: absolute;
    font-size: 1.2em;
    top: .4em;
    right: .5em;
}

.inactive-zone {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 999;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    color: white;
    background: #111;
    border-radius: 5px;
    border: .5px solid #333;
    z-index: 1000;
}

.modal-header,
.modal-body {
    padding: 12px 6px;
    border: .5px solid #333;
}

.modal-header {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

.modal-header svg {
    cursor: pointer;
    position: absolute;
    font-size: 1.2em;
    top: .5em;
    right: .5em;
    color: red;
}

.modal-body form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
    justify-items: stretch;
}

.modal-body button {
    background-color: #333;
    color: white;
    border: none;
    width: auto;
    margin: 16px 2px 0 2px;
}

.modal-body button:hover {
    background-color: #555;
}

.modal-body button svg {
    position: absolute;
    font-size: 1.1em;
    top: .4em;
    right: .5em;
    color: white;
}